extends ../layout/main.pug


include ../blocks/topLine/_topLine.pug
include ../blocks/sMainBlock/_sMainBlock.pug
include ../blocks/sMainMenu/_sMainMenu.pug
include ../blocks/sIndex/_sIndex.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	+topLine
	+sMainBlock
		+sMainMenu(1)
		+sIndex


