extends ../layout/main.pug


include ../blocks/topLine/_topLine.pug


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Страницы'
	title= title
block pagecontent
	ol.mt-4.ms-4
		li
			a.mb-3.ms-3(href="index.html") Главная
		li
			a.mb-3.ms-3(href="00-modal.html") Модалки


